<%= turbo_frame_tag dom_id(@project) do %>
  <%= turbo_frame_tag dom_id(@project, 'title') do %>
    <span class="flex font-bold text-xl">
      <%= @project.title %>
      <%= link_to edit_project_path(@project), data: { class: "hover:bg-inherit visited:text-black hover:bg-inherit visited:bg-inherit", turbo_frame: "#{dom_id(@project, 'title')}" } do %>
        <span class="ml-2"><i class="fa-solid fa-pencil"></i></span>
      <% end %>
    </span>
  <% end %>
<% end %>